$black: #000;
$off-black: #1A1818;
$brand-primary: #2B5BDB;
$brand-secondary: #F82999;
$white: #FFF;
$hero: #2D3C64;
$background-primary: #FBFCFE;
$error-red: #FC3A52;
$card-hover: #EEF1F4;
$gray1: #7C7C7C;
$gray2: #8A909D;
$green: #06C757;
$red: #EB5757;