$black: #000;
$off-black: #1A1818;
$brand-primary: #FC3A70;
$brand-secondary: #FFF500;
$white: #FFF;
$hero: #33396C;
$background-primary: #FBFCFE;
$error-red: #FC3A52;
$card-hover: #EEF1F4;
$gray1: #7C7C7C;
$gray2: #8A909D;
$gray3: #D5D6DD;
$green: #06C757;
$red: #EB5757;