.hero {
  background-color: $hero;
  color: $white;
  height: 272px;
  width: 100%;
  .logo {
    padding: 8px;
    width: 48px;
    height: 48px;
    &:hover {
      cursor: pointer;
    }
  }
  &.alt {
    background-color: $brand-primary;
  }
  &.h236 {
    height: 236px;
  }
}
.hero-popper {
  position: relative;
  top: -188px;
  background: none;
  margin-bottom: -188px;

  &.alt {
    top: -112px;
    margin-bottom: -112px;
  }
  .hero-title {
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    color: $white;
    margin-bottom: 16px;
  }
}
.page-content {
  width: 960px;
  @include laptop {
    width: 640px;
  }
  .content-item {
    margin-left: 12px;
    margin-right: 12px;
    &.one-max {
      width: 936px !important;;
      @include laptop {
        width: 616px !important;
      }
    }
    &.two-max {
      width: 456px !important;
      @include laptop {
        width: 616px !important;
      }
    }
    &.three-max {
      width: 296px !important;
    }
  }
}

.divider {
  background-color: #F0F0F0;
  height: 1px;
  width: 100%;
  &.margin-t {
    margin-top: 24px;
  }
  &.margin-b {
    margin-bottom: 24px;
  }
  &.d-light {
    color: $white;
    opacity: 0.24;
  }
}