.paragraph-content {
  font-family: 'Nunito Sans', sans-serif;
}

.divider {
  background-color: #F0F0F0;
  height: 1px;
  width: 100%;
  &.margin-t {
    margin-top: 24px;
  }
  &.margin-b {
    margin-bottom: 24px;
  }
  &.d-light {
    color: $white;
    opacity: 0.24;
  }
}